.movie-card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .movie-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .movie-card__overlay {
    position:absolute;
    z-index: 1;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .movie-card__details {
    text-align: center;
    padding: 10px;
  }
  
  .movie-card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-card__description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .movie-card__button {
    padding: 8px 16px;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .movie-card:hover {
    transform: scale(1.4);
    
    border-radius: 20px;

  }

  .movie-card:hover .card-extra{
    height: 150px;
    transition: height 0.3s ease;
  }

  
  .movie-card.hovered .movie-card__overlay {
    opacity: 1;
  }
  

  .card-extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f7f7f7;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 0 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

